<%= form_for @usuario, :url => actualiza_path(@usuario.facebook_id), :html => {:method => :post} do |usuario| %>
<div class="row">
  <div class="span8"> 
    <div class="row">
      <div class="span3">
        <%= image_tag @usuario.thumbnail %> 
        <p><a href="">Change</a></p>
      </div>
      <div class="span5"> 
        <h3><%= @usuario.nombre %> </h3>
        <p>Lunch starts at: <%= usuario.select :hora_lunch_inicio, options_for_select([10,11,12,13,14,15,16,17,18], @usuario.hora_lunch_inicio), :style=>"width: 65px;"%> </p>
        <p>Lunch ends at: <%= usuario.select :hora_lunch_fin, options_for_select([10,11,12,13,14,15,16,17,18], @usuario.hora_lunch_fin), :style=>"width:65px;"%> </p>
        <%= hidden_field_tag :zona%>
      </div>
    </div>
    <div class="row">
      <div class="span3">
        <div id="map-canvas" data-longitude="<%= @zona.longitude %>" data-latitude="<%= @zona.latitude %>" data-radius="<%= @zona.radio %>"></div>
        <script type="text/javascript" src="http://www.google.com/jsapi?autoload={'modules':[{name:'maps',version:3,other_params:'sensor=false'}]}"></script>
        <script type="text/javascript" src="/javascripts/jquery.json-2.3.min.js"></script>
	<script type="text/javascript" src="/javascripts/distancewidget.js"></script>
        <script>
                        var map;
			var distanceWidget;
                        var radius = $("#map-canvas")[0].getAttribute("data-radius");
			var latitude = $("#map-canvas")[0].getAttribute("data-latitude"); 
                        var longitude = $("#map-canvas")[0].getAttribute("data-longitude");
	
			function pinta_mapa(lat, lon, rad) {
				var mapDiv = document.getElementById('map-canvas');
				map = new google.maps.Map(mapDiv, {
					center: new google.maps.LatLng(lat, lon),
					zoom: 12,
					mapTypeId: google.maps.MapTypeId.ROADMAP
				});
				distanceWidget = new DistanceWidget({
					map: map,
					distance: rad,
					minDistance: 1,
					maxDistance: 15
				});
			}
                       
                        function agrega_posicion(){
                          $("#zona")[0].value = $.toJSON({"latitude":distanceWidget.get('position').lat(), "longitude":distanceWidget.get('position').lng(), "nombre":"web", "radio":distanceWidget.get('distance')});
                        }
                        
                        pinta_mapa(latitude, longitude, radius);

        </script> 
      </div>
    </div>
  </div>
  <div class="span4">
  <h5>Interests</h5>
    <ul>
    <% @intereses.each do |interes|%>
      <li><%= interes.nombre %></li>
    <% end %>
    </ul>
  </div>
</div>
<br/>
<p><%= submit_tag "Save", :class => "btn primary", :onclick => "agrega_posicion()" %></p>
<% end %>
