<script type="text/javascript" src="/javascripts/bootstrap-modal.js"></script>
<%= form_for @usuario, :url => actualiza_path(@usuario.facebook_id), :html => {:method => :post} do |usuario| %>
<div class="row">
  <div class="span16"> 
    <div class="row">
      <div class="span2">
        <%= image_tag @usuario.thumbnail %> 
      </div>
      <div class="span4"> 
        <h3><%= @usuario.nombre %> </h3>
        <p>Lunch starts at: <%= usuario.select :hora_lunch_inicio, options_for_select([10,11,12,13,14,15,16,17,18], @usuario.hora_lunch_inicio), :style=>"width: 65px;"%> </p>
        <p>Lunch ends at: <%= usuario.select :hora_lunch_fin, options_for_select([10,11,12,13,14,15,16,17,18], @usuario.hora_lunch_fin), :style=>"width:65px;"%> </p>
        <%= hidden_field_tag :zona%>
        <%= hidden_field_tag :actualiza, false%>
      </div>
      <div class="span3">
        <div id="map-canvas" data-longitude="<%= @zona.longitude %>" data-latitude="<%= @zona.latitude %>" data-radius="<%= @zona.radio %>"></div>
        <script type="text/javascript" src="http://www.google.com/jsapi?autoload={'modules':[{name:'maps',version:3,other_params:'sensor=false'}]}"></script>
        <script type="text/javascript" src="/javascripts/jquery.json-2.3.min.js"></script>
	<script type="text/javascript" src="/javascripts/distancewidget.js"></script>
        <script>
                        var map;
			var distanceWidget;
                        var radius = $("#map-canvas")[0].getAttribute("data-radius");
			var latitude = $("#map-canvas")[0].getAttribute("data-latitude"); 
                        var longitude = $("#map-canvas")[0].getAttribute("data-longitude");
	
			function pinta_mapa(lat, lon, rad) {
				var mapDiv = document.getElementById('map-canvas');
				map = new google.maps.Map(mapDiv, {
					center: new google.maps.LatLng(lat, lon),
					zoom: 12,
					mapTypeId: google.maps.MapTypeId.ROADMAP
				});
				distanceWidget = new DistanceWidget({
					map: map,
					distance: rad,
					minDistance: 1,
					maxDistance: 15
				});
			}
                       
                        function agrega_posicion(){
                          $("#zona")[0].value = $.toJSON({"latitude":distanceWidget.get('position').lat(), "longitude":distanceWidget.get('position').lng(), "nombre":"web", "radio":distanceWidget.get('distance')});
                        }

                        function agrega_posicion_y_actualiza(){
                          agrega_posicion();
                          $("#actualiza")[0].value = true;
                        }
                        
                        pinta_mapa(latitude, longitude, radius);

        </script> 
      </div>
    </div>
    <p>
      <%= submit_tag "Save", :class => "btn primary", :onclick => "agrega_posicion()" %>
      <%= submit_tag "Save and update", :class => "btn primary", :onclick => "agrega_posicion_y_actualiza()"%>
    </p>
<% end %>
    <h4>Interests</h4>
    <div class="row"><div class="span1"><b>Music:</b></div> <div class="span13"><%= @intereses_music = Interes.to_html(@intereses_music) %> <br><br></div>
    </div>
    <div class="row"><div class="span1"><b>Movies:</b></div> <div class="span13"><%= Interes.to_html(@intereses_movies) %>
      <br><br></div>
    </div>
    <div class="row"><div class="span1"><b>TV:</b></div> <div class="span13"><%= Interes.to_html(@intereses_tv) %>
       <br><br></div>
    </div>
    <div class="row"><div class="span1"><b>Books:</b></div> <div class="span13"><%= Interes.to_html(@intereses_books) %>
       <br><br></div>
    </div>
    <div class="row"><div class="span1"><b>Other:</b></div> <div class="span13"><%= Interes.to_html(@intereses_other) %>
       <br><br></div>
    </div>
  </div>
</div>
<br/>

