<script type="text/javascript" src="/javascripts/bootstrap-modal.js"></script>
<script>
function validate(forma){
  if(forma.body.value == ""){
    alert("Please write a message.");
    return false;
  } else {
    return true;
  }
}
</script>
<div class="row">
  <div class="span16"> 
    <div class="row">
      <div class="span2">
        <%= image_tag @usuario_perfil.thumbnail %> 
      </div>
      <div class="span5"> 
        <h3><%= @usuario_perfil.nombre %> </h3>
        <p>Lunches from <%= @usuario_perfil.hora_lunch_inicio%>:00 to <%= @usuario_perfil.hora_lunch_fin%>:00 </p>
      </div>
    </div>
	  <h4>Interested in</h4>
    <div class="row"><div class="span1"><b>Music:</b></div> <div class="span13"><%= Interes.to_html(@intereses_music) %>
      <br><br></div>
    </div>
    <div class="row"><div class="span1"><b>Movies:</b></div> <div class="span13"><%= Interes.to_html(@intereses_movies) %>
      <br><br></div>
    </div>
    <div class="row"><div class="span1"><b>TV:</b></div> <div class="span13"><%= Interes.to_html(@intereses_tv) %>
      <br><br></div>
    </div>
    <div class="row"><div class="span1"><b>Books:</b></div> <div class="span13"><%= Interes.to_html(@intereses_books) %>
      <br><br></div>
    </div>
    <div class="row"><div class="span1"><b>Other:</b></div> <div class="span13"><%= Interes.to_html(@intereses_other) %>
      <br><br></div>
    </div>
	</div>
</div>
<br/>
<% if @invitaciones_recibidas.select{|invitacion| invitacion.usuario_desde_id == @usuario_perfil.id and invitacion.aceptada == false and @invitacion = invitacion}.size > 0 %>
  <p><%= link_to 'Accept lunch!', "/invitaciones/acepta/#{@invitacion.id}", :method => :acepta, :class => 'btn primary' %></p>
<% elsif @invitaciones_enviadas.select{|invitacion| invitacion.usuario_para_id == @usuario_perfil.id and invitacion.aceptada == false }.size > 0%>
  <p><%= button_to "Pending", nil, :disabled => true, :class => "btn primary" %></p>
<% else %>
  <p><%= link_to "Let's have lunch!", nil, :class => "btn primary", "data-controls-modal"=>"modal-invite-for-#{@usuario_perfil.id}", "data-backdrop"=>"static", "data-keyboard"=>"true"%></p>
<% end %>
<div id="modal-invite-for-<%= @usuario_perfil.id %>" class="modal hide fade">
  <%= form_tag(desde_para_invitaciones_path(@usuario.facebook_id), :method => :post, :onsubmit => 'return validate(this);') do %>
    <div class="modal-header">
      <a href="#" class="close">&times;</a>
      <h3>Send lunch request</h3>
    </div>
    <div class="modal-body">
      <% @invitaciones_body = "Hello #{@usuario_perfil.nombre}! Let's have lunch some day!"%>
      <%= text_area_tag "body", @invitaciones_body, :class => "xxlarge", :rows => 6, :style => "resize: none;"%>
      Looking for: <%= select_tag "select", options_from_collection_for_select(Intencion.all, :id, :nombre)%>
      <%= hidden_field_tag "para", @usuario_perfil.facebook_id%>
    </div>
    <div class="modal-footer">
      <%= submit_tag "Send", :class=>"btn secondary" %>
    </div>
  <% end %>
</div>
