<div class="row">
  <div class="span5" style="margin-left: 30px;">
    <h4>Received</h4>
    <ul class="unstyled">
      <% @usuario.invitaciones_recibidas.each do |invitacion_recibida| %>
        <li>
          <div style="float:left;">
            <a href="<%= profile_path(invitacion_recibida.usuario_desde_id)%>"><%= Usuario.find(invitacion_recibida.usuario_desde_id).nombre %></a>
          </div>
          <div style="float:right; width: 50px; height: 15px;">
            <% if invitacion_recibida.aceptada %>
              Confirmed
            <% else %>
              <%= link_to '', "/invitaciones/acepta/#{invitacion_recibida.id}", :method => :acepta, :class => 'inv_acepta' %>
              <%= link_to '', "/invitaciones/rechaza/#{invitacion_recibida.id}", :confirm => 'Are you sure?', :method => :rechaza, :class => "inv_niega" %>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="span2"><br/></div>
  <div class="span5">
    <h4>Sent</h4>
    <ul class="unstyled">
      <% @usuario.invitaciones_enviadas.each do |invitacion_enviada| %>
        <div>
          <li>
            <div style="float: left;">
              <a href="<%= profile_path(invitacion_enviada.usuario_desde_id)%>"><%= Usuario.find(invitacion_enviada.usuario_desde_id).nombre %></a>
            </div>
          </li>
        </div>
        <div style="float: right; width: 50px; height: 15px;">
          <% if invitacion_enviada.aceptada %>
            Confirmed
          <% else %>
            Pending
          <% end %>  
        </div>
      <% end %>
    </ul>
  </div>
</div>
