<!DOCTYPE html>
<html>
<head>
  <title>Lunch Rabbit</title>
    <meta property="og:title" content="Lunch Rabbit" />
    <meta property="og:type" content="social" />
    <meta property="og:url" content="http://glowing-moon-5161.heroku.com/" />
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>

    <!-- Include support librarys first -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="http://connect.facebook.net/en_US/all.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">    

    <style type="text/css">
      body {
        padding-top: 15px;
      }
      #map-canvas {
        height: 300px;
	width:	450px;
      }
    </style>
    
</head>
<body>
  <script>
      window.fbAsyncInit = function() {
        FB.init({appId: APP_ID, status: true, cookie: true, xfbml: true,  oauth: true});
        FB.getLoginStatus(function(response) {
            alert(response.status);
            if (response.status != 'connected') {
            top.location = HOST;
	  }
        });
        FB.Event.subscribe('auth.logout', function(response){
          //top.location = HOST + $("#app_paths")[0].getAttribute("data-logout-path");
          alert("ya me sali");
        });
      };   
  </script>
  <div id="fb-root"></div>
  <div id="app_paths" data-oauth-path="<%= oauth_new_path %>" data-home-path="<%= home_path %>" data-logout-path="<%= logout_path %>" />
  <div>      
        <div class="container-fluid">
        	<img class="brand" src="http://swdf.in2teck.com/images/lunch_logo_thumb.jpg">
		<div style="float: right; margin-right: 300px;">
                <button class="btn" style="margin-top: 30px;">FIND A LUNCH NOW  &raquo;</button>
                <div class="menu-pull-right">
    			<span class="left"></span>
    			<ul>
      				<li><a href="/home" <%= @home_active =%> target="_self">Home</a></li>
				<li><a href="/myprofile" <%= @myprofile_active =%> target="_self">My Profile</a></li>
      				<li><a href="">&#8595;</a>
        			<div class="sub">
          	      		<ul>
              				<li><a href="/help" <%= @help_active =%> target="_self">Help</a></li>
      					<li><a href="/logout" target="_self">Logout</a></li>
       				</ul>
                        </ul>
  		</div>
	        </div>
        </div>
      
    </div>

    <div class="container-fluid">
      <div class="sidebar">
        <div class="well">
          <h5>My Lunch Requests</h5> </br>
          <p>Received</p>
          <ul class="unstyled" style="margin-left: 10px;">
            <% @usuario.invitaciones_recibidas.each do |invitacion|%>
            <li>
              <div style="float:left;">
                <a href=""><%= Usuario.find(invitacion.usuario_desde_id).nombre[0..14] %></a>
              </div>
              <div style="float:right; width: 50px; height: 15px;">
              <% if invitacion.aceptada %>
                Confirmed
              <% else %>
                <%= link_to '', "/invitaciones/acepta/#{invitacion.id}", :method => :acepta, :class => 'inv_acepta' %>
                <%= link_to '', "/invitaciones/rechaza/#{invitacion.id}", :confirm => 'Are you sure?', :method => :rechaza, :class => "inv_niega" %>
              <% end %>
              </div>
            <br/>
            </li>
            <% end %>  
          </ul>
          <br/>
          <p>Sent</p>
          <ul class="unstyled" style="margin-left: 10px;">
            <% @usuario.invitaciones_enviadas.each do |invitacion|%>
            <li>
              <div style="float: left;">
                <a href=""><%= Usuario.find(invitacion.usuario_para_id).nombre[0..14] %></a>
              </div>
              <div style="float: right; width: 50px;">
                <% if invitacion.aceptada %>
                  Confirmed
                <% else %>
                  Pending
                <% end %>  
              </div>
              <br/>
            </li>
            <% end %>
          </ul>
          <br/>
          <div style="text-align: center;">
            <a href="">view all</a>
          </div>
        </div>
      </div>
      <div class="content">

        <%= yield %>
  
        <footer>
          <p>&copy; Lunch Rabbit 2011</p>
        </footer>
      </div>

</body>
</html>
